
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    font-family: 'Roboto';
}

.top {
 background-color: #1F2937;
 margin: 0;
 padding: 12px 200px 130px 200px;
 display: flex;
 flex-direction: column;
}

h1 {
 font-weight: bold;
 font-size: 24px;
 color: white;
}


h2 {
 font-size: 48px;
 font-weight: 900px;
 color: white;
}

.subject {
 color: #E5E7EB;
 font-size: 16px;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 display: flex;
 gap:15px;
}

a {
 color: white;
 text-decoration: none;
 font-size: 12px;
}

button {
 background: royalblue;
 border: 1px solid royalblue;
 color: white;
 border-radius: 8px;
 font-size: 14px;
 padding: 6px 32px;
 align-self: flex-start;
 margin-top: 10px;

}

.header {
 display: flex;
 justify-content: space-between;
 margin-bottom: 60px;
 

}
.signup {
 display: flex;
 justify-content: space-between;
}

.signup div {
    width: 300px;
    flex-wrap: wrap;
}

.signup img {
 width: 400px;
 height: 200px;
}

h3 {
 font-size: 36px;
 font-weight: 900;
 text-align: center;
 margin:30px;
}

.information {
 display:flex;
 justify-content: center;
 gap:40px;
 margin-bottom: 90px;
}


.container img {
 width: 130px;
}

.container {
 width: 130px;
 flex-wrap: wrap;
}

.container p {
 text-align: center;
 font-size: 14px;
}

.quote
{
    display: flex;
    flex-direction: column;
    width: 700px;
    flex-wrap: wrap;
    margin-top:80px;
    margin-bottom: 70px;

}
.quotecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    justify-content: center;
}

.q {
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
}

.thor {
    margin-left: 500px;
    font-size: 20px;
    font-weight: bold;
}

.signupcontainer {
    display: flex;
    justify-content: center;

}

.box {
    
    display: flex;
    background-color: #3882F6;
    padding: 40px 100px;
    margin:80px 100px;
    gap:60px;
    border-radius: 8px;
}

.box div{
    display: flex;
    flex-direction: column;
}

.signupcontainer button {
    border-color: white;
    border-width: 2px;
    border-radius: 8px;
    color: white;
    background-color: #3882F6;
}

.action {
    font-weight: 900;
    color: white;
    font-size: 17px;
}

.actiontext {
 color: white;
 font-weight: 100;
 font-size: 15px;
}

.footer {
 background-color: #1F2937;
 padding:30px;
}

.footer p {
    color: white;
    font-size: 13px;
    text-align: center;
}